<div id="friends" >
    <ion-content overflowScroll = "true" padding="true">    
        <div class="main-container">
            <div class="page-icon">
                <img src="img/friends/icon.png">
            </div>
            <div class="clearfix"></div>
            <div class="std-button big blue" ng-click="showFriendList()">
                Amigos
            </div>
            <hr class="big">
            <div class="std-button big ligth-grey" ng-click="showSearchForm()">    
                <b>Buscar Amigos </b>
            </div> 
    </ion-content>
</div>

