<div id="images" >
    <ion-content>
        <div class="main-container ">
            <div class="page-icon">
                <img src="img/images/icon.png">
            </div>
            <br/>
            <ul class="options">
                <li class="std-button ligth-blue" ng-click="goToMyImages()">
                    Mis Imagenes
                </li>
                <li class="std-button ligth-grey" ng-click="goToRuntiImages()">
                    Fotos Runti 
                    <div class="sub-amount" ng-show="{{pendend > 0}}">{{pendend}}</div>
                </li>
            </ul>
        </div>
    </ion-content>
</div>

