<div id="load" class="stage">
    <div class="clouds">
        <img src="img/load/clouds.png"> 
    </div>
    <div class="main-bullets">
        <img class="primera" src="img/load/primera-red.png">
        <div class="text-content">
            <b class="first-label">En Runti encontraras:</b>
            <ul class="first-list">
                <li>Consejos de nutrición</li>
                <li>Tips de entrenamiento</li>
                <li>Noticias de atletismo nacionales e internacionales</li>
                <li>Fecha,hora, costo y lugar de los eventos de atletismo</li>
            </ul>
            <b class="last-label">También Podras:</b>
            <ul class="last-list">
                <li>Invitar a tus amigos a correr una carrera contigo</li>
                <li>Compartir fotos</li>
                <li>Enviar stickers, o chatear con tus amigos</li>
            </ul>
        </div>
        <img class="es-tiempo" src="img/load/es-tiempo.png">
    </div>
    <div class="load-logo">
        <div style="position: relative;">
            <!--<img class="logo-sponsor" src="">-->
            <div class="road">
                <img class="trees" src="img/load/trees.png">
                <img class="runti" src="img/runti-load.png">
            </div>
            <div class="text-box" ng-click="goNext()">
                Continuar
            </div>
        </div>
    </div>
</div>


