<div id="profile"  >
    <ion-content>
        <div class="main-container">
            <div class="back-bt" onclick="app.goBack();">
                <img src="img/back-bt.png" />
            </div>
            <div class="main-title">
                <label cla>Perfil de Usuario</label>
                <div class="change-image">
                    <img ng-show="userData.User.fcid != 0" src="https://graph.facebook.com/{{userData.User.fcid}}/picture?type=large" />
                    <img ng-show="userData.User.fcid == 0"src="img/profile/change-image.png">
                </div>
            </div>
            <div class="clearfix"></div>
            <form >
                <div class="friend-status button button-secondary" ng-click="{{friendStatus.Friend.isSended == 1 ? '':'friendRequest()'}}">
                    <img src="img/menu/friends.png" ng-show="friendStatus.Friend.isFriend == 1">
                    <img src="img/menu/invite.png" ng-show="friendStatus.Friend.isFriend == 0">
                    <label class="{{friendStatus.Friend.estado == 1 ? 'friends':''}}">{{friendStatus.Friend.estado == 1 ? 'Amigos': (friendStatus.Friend.isSended == 1 ? 'Solicitud Enviada':'Enviar Solicitud') }} </label>
                </div>
                <input type="hidden" name="data[appKey]" value="{{appKey}}"/>
                <input id="userId" type="hidden" name="data[User][id]" value="{{userData.User.id}}"/>
                <div class="input-container">
                    <label>Nombre</label>
                    <input type="text" name="data[User][nombre]" value="{{userData.User.nombre}}"/>
                </div>
                <div class="input-container">
                    <label>Apellidos</label>
                    <input type="text" name="data[User][apellido]" value="{{userData.User.apellido}}" />
                </div>
                <!--<div class="input-container">
                    <label>Nombre Usuario</label>
                    <input type="text" name="data[User][username]" value="{{userData.User.username}}"/>
                </div>-->
            </form>
            <a class="fotos-link" href="#/images-list/{{userData.User.id}}">
                <div class="button button-warning view-fotos button-small"> Ver Fotos de {{userData.User.nombre}}</div>
            </a>
        </div>
    </ion-content>


</div>